.container {
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;

   & .image {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
   }


   & .layer {
      width: 300px;
      height: 250px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 80px;
      
      
      & .intro {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;


         & .title {
            font: 20px tahoma;
            font-weight: 600;
            margin-bottom: 10px;
         }
         
         
         & .welcome {
            font: 15px arial;
         }
      }
   }
}

.bigMom {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   padding: 10px;


   & .holder {
      width: 100%;
      height: 100%;
      background-color: #DDEB9D;
      padding: 10px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      flex-direction: column;
   
   
      & .title {
         position: relative;
         width: 100%;
         height: 40px;
         background-color: #EB5B00;
         color: white;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 10px;
      }



      & .date {
         width: 100%;
         text-align: center;
      }


      & .check {
         width: 100%;
         height: 30px;
         background-color: white;
         border-radius: 10px;
         height: 40px;
         border: none;
         box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);


         &:active {
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
            scale: 0.95;
         }
      }
         
         
      & .picHolder {
         position: relative;
         width: 100%;
         height: 180px;
         border-radius: 10px;
         display: flex;
         padding: 10px;
         gap: 10px;
         background-color: rgba(10, 119, 0, 0.322);

         & .picFrame {
            position: relative;
            width: 100px;
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;

            
            & .pics {
               object-fit: cover;
            }

            & .infoLayer {
               width: 100%;
               height: 100%;
               background-color: rgba(0, 0, 0, 0.5);
               z-index: 1;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               gap: 10px;

               
               & p {
                  font: 10px arial;
                  text-align: center;
                  display: flex;
                  color: white;
                  gap: 5px;
               }
            }
         }
      }

      & .tasks {
         width: 100%;
         height: 50%;
         overflow-y: scroll;
         border-radius: 10px;
         padding: 10px;
         border: 1px solid black;
         display: flex;
         flex-direction: column;
         gap: 10px;



         & .task {
            position: relative;
            width: 100%;
            height: fit-content;
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            color: black;
            font: 13px arial;
            display: flex;
            justify-content: center;
            overflow: hidden;


            & .done {
               position: absolute;
               top: 0;
               width: 100%;
               height: 100%;
               background-color: rgba(0, 122, 0, 0.7);
               display: flex;
               justify-content: center;
               align-items: center;
               color: white;
               font: 20px arial;
               font-weight: 700;
            }
         }
      }

      & .hiddenPic {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         overflow-y: scroll;
         border-radius: 10px;
         display: flex;
         justify-content: center;
         align-items: start;
         padding: 10px;
         flex-wrap: wrap;
         gap: 5px;
         background-color: rgba(0, 0, 0, 0.7);


         & .closeHolder {
            width: 100vw;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            color: black;

            & .icon {
               font-size: 25px;
               margin-right: 10px;
               color: black;
            }
         }

         & .picFrame2 {
            position: relative;
            width: 100vw;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;


            
            & .pics2 {
               object-fit: contain;
            }
         }
      }
      

      & .buttonHolder {
         height: fit-content;
         width: 100%;
         display: flex;
         justify-content: space-between;

         & .btn {
            padding: 10px 20px;
            border: none;
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
            
            
            &:active {
               box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
               scale: 0.95;
            }
         }
      }

   }
}


