.container {
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;

   & .image {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
   }


   & .layer {
      width: 300px;
      height: 250px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 80px;
      
      
      & .intro {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;


         & .title {
            font: 20px tahoma;
            font-weight: 600;
            margin-bottom: 10px;
         }
         
         
         & .welcome {
            font: 15px arial;
         }
      }
   }
}

.bigMom {
   position: fixed;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   padding: 10px;
   padding-top: env(safe-area-inset-top);
   padding-bottom: env(safe-area-inset-bottom);
   padding-left: env(safe-area-inset-left);
   padding-right: env(safe-area-inset-right);


   & .back {
      width: 130%;
      height: 100vh;
      z-index: 0;
      position: absolute;
      top: 0;
      
   }


   & .holder {
      width: 100%;
      height: 100%;
      padding: 10px;
      z-index: 1;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      flex-direction: column;

      & .dates {
         width: 100%;
         height: 7%;
         display: flex;
         padding-left: 10px;
         justify-content: space-between;
         align-items: center;
         border-radius: 10px;
         background-color: rgb(255, 255, 255);
         


         & .date {
            color: rgb(0, 0, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
         }

         & .menuHolder {
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;


            & .dotHolder {
               padding: 10px;
               display: flex;
               align-items: center;


               & .hamIcon {
                  font-size: 20px;
                  color: rgb(0, 0, 0);
               }
            }



            & .menu {
               position: absolute;
               top: 10px;
               right: 40px;
               z-index: 2;
               font-size: 13px;
               width: 100px;
               height: fit-content;
               background-color: white;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               border-radius: 10px;
               box-shadow: 1px 1px 10px 0px black;
               overflow: hidden;

               & .item {
                  padding: 10px;
                  width: 100%;
                  text-align: center;

                  &:active {
                     background-color: rgb(247, 247, 247);
                  }
               }
            }
         }

      }
   
   


      & .check {
         width: 100%;
         height: 30px;
         background-color: white;
         border-radius: 10px;
         height: 40px;
         border: none;
         box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);


         &:active {
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
            scale: 0.95;
         }
      }
         
         
      & .picHolder {
         position: relative;
         width: 100%;
         min-width: 100%;
         height: 30%;
         border-radius: 10px;
         align-items: center;
         justify-content: center;
         display: block;
         display: flex;
         padding: 10px;
         gap: 10px;
         background-color: rgba(255, 255, 255, 0.322);

         & .picFrame {
            position: relative;
            width: fit-content;
            height: 150px;
            display: flex;
            border-radius: 10px;
            justify-content: end;
            align-items: center;
            flex-direction: column;
            overflow: hidden;

            
            & .pics {
               position: relative;
               object-fit: contain;
            }

            & .infoLayer {
               position: relative;
               width: 100%;
               height: 40px;
               padding: 5px;
               border-radius: 10px;
               background-color: rgba(0, 0, 0, 0.616);
               z-index: 1;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;

               
               & .book, & .pages {
                  font: 10px arial;
                  text-align: center;
                  display: flex;
                  color: white;
                  gap: 5px;
               }
            }
         }
      }

      & .tasks {
         position: relative;
         width: 100%;
         height: 70%;
         min-width: 100%;
         overflow-y: scroll;
         border-radius: 10px;
         padding: 10px;
         border: 1px solid rgb(255, 255, 255);
         gap: 10px;



         & .task {
            position: relative;
            text-align: justify;
            margin-bottom: 5px;
            overflow-y: hidden;
            width: 100%;
            min-width: 100%;
            height: 35px;
            background-color: rgba(255, 255, 255, 0.459);
            border-radius: 10px;
            padding: 10px;
            color: rgb(0, 0, 0);
            font: 13px arial;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            
            & .top {
               width: 100%;
               min-width: 100%;
               display: flex;
               color: black;
               justify-content: space-between;
               
               & .icon {
                  font-size: 15px;
                  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
               }

               & .turn {
                  rotate: 180deg;
               }
            }

            & .todo {
               width: 100%;
               height: fit-content;
            }

            & .extra {

               width: 100%;
               min-width: 100%;

               & a {
                  text-decoration: underline;
                  color: blue;
               }

               & .input {
                  width: 100%;
                  min-width: 100%;
                  display: flex;
                  justify-content: space-between;
                  gap: 10px;


                  & .textarea {
                     width: 100%;
                     height: 40px;
                     resize: none;
                     border-radius: 10px;
                     background-color: black;
                     color: white;
                     padding: 7px;
                     outline: none;
                     border: 0.5px solid rgba(0, 0, 0, 0.2);
   
                     &:focus {
                        border: 1px solid black;
                     }
                  }
   
                  & .save {
                     padding: 5px 15px;
                     border-radius: 10px;
                     background-color: rgba(0, 0, 0, 0);
                     border: 1px solid rgba(0, 0, 0, 0.2);
                     
                     
                     &:active {
                        border: none;
                        background-color: black;
                        color: white;
                     }
                  }
               }

               & .notes {
                  display: flex;
                  margin-top: 10px;
                  width: 100%;
                  min-width: 100%;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 5px;


                  & .note {
                     width: 100%;
                     padding: 5px;
                     border-radius: 5px;
                     color: black;
                     border: 1px black solid;
                  }
               }

            }


            & .done {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               min-width: 100%;
               height: 100%;
               background-color: rgba(0, 0, 0, 0.7);
               display: flex;
               justify-content: center;
               align-items: center;
               color: white;
               border-radius: 10px;
               font: 20px arial;
               font-weight: 700;
            }
         }

         & .open {
            height: 200px;
            background-color: white;
            overflow-y: scroll;
            color: rgb(65, 65, 65);
         }
      }

      & .hiddenPic {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         overflow-y: scroll;
         border-radius: 10px;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         padding: 10px;
         flex-wrap: wrap;
         gap: 5px;
         background-color: rgba(0, 0, 0, 0.7);


         & .closeHolder {
            width: 100vw;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & .icon {
               rotate: 180deg;
               font-size: 50px;
               color: white;
            }
         }

         & .picFrame2 {
            position: relative;
            width: 100vw;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            z-index: 2;


            
            & .pics2 {
               object-fit: contain;
            }
         }
      }
      

      & .buttonHolder {
         position: relative;
         height: fit-content;
         width: 100%;
         min-width: 100%;
         display: flex;
         justify-content: space-between;
         z-index: 1;

         & .btn {
            padding: 10px 20px;
            border: none;
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
            
            
            &:active {
               box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
               scale: 0.95;
            }
         }
      }

   }

   & .warning {
      position: absolute;
      top: 0;
      z-index: 3;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.705);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;


      & .btns {
         display: flex;
         gap: 10px;


         & button {
            padding: 10px 30px;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 17px;
         }
      }

      & .delNotes {
         width: 100%;
         height: 50px;
         display: flex;
         align-items: center;
         justify-content: center;


         & .label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & .checkbox {
               width: 20px;
            }
         }
      }
   }
}


