.container {
   position: fixed;
   width: 100%;
   height: 100dvh;
   background-color: rgba(255, 255, 255, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;

   & .image {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
   }


   & .layer {
      width: 30%;
      min-width: 330px;
      height: 15%;
      min-height: 300px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      z-index: 1;
      
      @media (390px < width < 700px){
         width: 50%;
      }

      @media (width < 390px){
         width: 70%;
         min-width: 250px;
      }
      

      & .intro {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;

         
         & .title {
            font: 25px tahoma;
            font-weight: 600;
            margin-bottom: 10px;
            
            @media (390px < width < 700px){
               font: 22px tahoma;
               font-weight: 600;
            }
            
            @media (width < 390px){
               font: 18px tahoma;
               font-weight: 600;
            }
         }
         
         
         & .welcome {
            font: 18px arial;

            @media (390px < width < 700px){
               font: 16px arial;
            }

            @media (width < 390px){
               font: 14px tahoma;
            }
         }
      }
   }

   & .programmer {
      position: absolute;
      font: 20px arial;
      height: 100vh;
      display: flex;
      align-items: flex-end;
      padding-bottom: 50px;

      @media (390px < width < 700px){
         font: 15px arial;
         padding-bottom: 20px;
      }

      @media (width < 390px){
         font: 13px arial;
      }
   }
}

.bigMom {
   position: fixed;
   width: 100%;
   height: 100dvh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;

   @media (390px < width < 700px){
      padding: 10px;
   }

   @media (width < 390px){
      padding: 5px;;
   }


   & .back {
      width: 130%;
      height: 100vh;
      z-index: 0;
      position: absolute;
      top: 0;
      
   }


   & .holder {
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      flex-direction: column;

      & .dates {
         width: 100%;
         height: 6%;
         min-height: 40px;
         display: flex;
         padding-left: 20px;
         justify-content: space-between;
         align-items: center;
         border-radius: 10px;
         background-color: rgb(255, 255, 255);
         
         @media (390px < width < 700px){
            padding-left: 10px;
         }

         @media (width < 390px){
            padding-left: 5px;
         }

         
         
         & .date {
            color: rgb(0, 0, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            font-size: 27px;

            @media (390px < width < 700px){
               font: 17px arial;
            }
            
            @media (height < 1080px) {
               font: 17px arial;
            }
         }

         & .menuHolder {
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;


            & .dotHolder {
               width: 40px;
               height: 40px;
               display: flex;
               align-items: center;
               justify-content: center;
               padding: 10px;


               & .hamIcon {
                  font-size: 30px;
                  color: rgb(0, 0, 0);

                  @media (390px < width < 700px){
                     font-size: 20px;
                  }
                  
                  @media (height < 1080px) {
                     font-size: 20px;
                  }
               }
            }



            & .menu {
               position: absolute;
               z-index: 2;
               top: 30px;
               font-size: 18px;
               width: 150px;
               height: fit-content;
               background-color: white;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               border-radius: 10px;
               box-shadow: 1px 1px 10px 0px black;
               overflow: hidden;

               @media (390px < width < 700px){
                  top: 20px;
                  font-size: 15px;
               }

               @media (width < 390px){
                  top: 10px;
               }

               & .item {
                  padding: 10px;
                  width: 100%;
                  text-align: center;

                  &:active {
                     background-color: rgb(247, 247, 247);
                  }
               }
            }
         }

      }
   
   


      & .check {
         width: 100%;
         height: 30px;
         background-color: white;
         border-radius: 10px;
         height: 40px;
         border: none;
         box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);


         &:active {
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
            scale: 0.95;
         }
      }
         
         
      & .picsHolder {
         position: relative;
         width: 100%;
         min-width: 100%;
         height: 30%;
         min-height:150px;
         border-radius: 10px;
         align-items: center;
         justify-content: center;
         display: flex;
         padding: 10px;
         gap: 40px;
         background-color: rgba(255, 255, 255, 0.322);
         overflow: hidden;





         & .picFrame {
            position: relative;
            width: 19vh;
            height: fit-content;
            display: flex;
            overflow: hidden;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            
            
            & .pics {
               width: 100%;
            }

            & .infoLayer {
               position: absolute;
               width: 100%;
               height: 80px;
               border-radius: 10px;
               background-color: rgba(0, 0, 0, 0.616);
               z-index: 1;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;

               @media (width < 700px){
                  height: 50px;
               }
               
               
               & .book, & .pages {
                  font: 20px arial;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  color: white;
                  gap: 5px;

                  @media (width < 700px){
                     font: 15px arial;
                  }
               }
            }
         }
      }

      & .tasks {
         position: relative;
         width: 100%;
         height: 70%;
         min-width: 100%;
         scrollbar-width: none;
         overflow-y: scroll;
         border-radius: 10px;
         padding: 10px;
         border: 1px solid rgb(255, 255, 255);
         gap: 10px;



         & .task {
            position: relative;
            text-align: justify;
            margin-bottom: 5px;
            padding: 0 20px 20px 20px;
            overflow-y: hidden;
            scrollbar-width: none;
            width: 100%;
            min-width: 100%;
            height: 70px;
            background-color: white;
            border-radius: 10px;
            color: rgb(0, 0, 0);
            box-shadow: 1px 1px 5px 0px black;
            gap: 15px;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            
            @media (width < 700px){
               height: 45px;
               padding: 0 10px 10px 10px;
            }

            
            & .top {
               position: sticky;
               top: 0;
               height: 70px;
               background-color: white;
               width: 100%;
               min-width: 100%;
               color: black;
               display: flex;
               justify-content: space-between;
               align-items: center;
               transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
               
               @media (width < 700px){
                  height: 45px;
               }
               
               
               & .topic {
                  width: 97%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: 1000;
                  font: 20px serif;

                  @media (width < 700px){
                     justify-content: flex-start;
                     font: 18px arial;
                     font-weight: 600;
                  }
                  
                  @media (width < 390px){
                     font: 15px arial;
                     font-weight: 600;
                  }
               }
               
               & .icon {
                  font-size: 20px;
                  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
               }

               & .turn {
                  rotate: 180deg;
               }
            }

            & .todo {
               width: 100%;
               height: fit-content;
               font: 20px arial;
               margin: 20px 0px 40px 0px;
               
               @media (width < 700px){
                  margin: 0 0 30px 0px;
                  font: 13px arial;
               }
            }

            & .extra {
               width: 100%;
               min-width: 100%;

               & a {
                  text-decoration: underline;
                  color: blue;
               }

               & .input {
                  width: 100%;
                  min-width: 100%;
                  display: flex;
                  justify-content: space-between;
                  gap: 10px;
                  
                  
                  & .textarea {
                     width: 100%;
                     height: 50px;
                     resize: none;
                     border-radius: 10px;
                     background-color: black;
                     color: white;
                     padding: 10px;
                     outline: none;
                     font: 20px vazirl;
                     border: 0.5px solid rgba(0, 0, 0, 0.2);
                     
                     &:focus {
                        border: 1px solid black;
                     }

                     @media (width < 700px){
                        height: 40px;
                        font: 15px vazirl;
                     }
                  }
                  
                  & .save {
                     padding: 5px 15px;
                     border-radius: 10px;
                     background-color: rgba(0, 0, 0, 0);
                     border: 1px solid rgba(0, 0, 0, 0.2);
                     font: 20px arial;
                     
                     
                     &:active {
                        border: none;
                        background-color: black;
                        color: white;
                     }
                  }
               }

               & .notes {
                  display: flex;
                  margin-top: 10px;
                  width: 100%;
                  min-width: 100%;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 5px;


                  & .note {
                     font: 20px vazirl;
                     width: 100%;
                     padding: 5px;
                     border-radius: 5px;
                     color: black;
                     border: 1px black solid;
                  }
               }

            }


            & .done {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               min-width: 100%;
               height: 100%;
               background-color: rgba(0, 0, 0, 0.7);
               display: flex;
               justify-content: center;
               align-items: center;
               color: white;
               border-radius: 10px;
               font: 20px arial;
               font-weight: 700;
            }
         }

         & .open {
            height: 300px;
            color: rgb(65, 65, 65);
            overflow-y: auto;

            @media (390px < width < 700px){
               height: 230px;
            }
         }
      }

      & .hiddenPic {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
         padding: 70px 10px 10px 10px;
         background-color: rgba(0, 0, 0, 0.7);
         z-index: 2;


         & .closeHolder {
            position: fixed;
            top: 0;
            width: 99%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            z-index: 2;
            color: white;
            font: 25px arial;

            @media (390px < width < 700px){
               font: 20px arial;
            }
            
            & .icon {
               font-size: 70px;
               color: white;

               @media (390px < width < 700px){
                  font-size: 50px;
               }
            }
         }

         & .prevHolder {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
         }

         & .prevPic {
            position: relative;
            width: 100%;
         }
      }
      

      & .buttonHolder {
         position: relative;
         height: fit-content;
         width: 100%;
         min-width: 100%;
         display: flex;
         justify-content: space-between;
         z-index: 1;

         & .btn {
            padding: 10px 20px;
            border: none;
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
            
            
            &:active {
               box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
               scale: 0.95;
            }
         }
      }

   }

   & .error {
      z-index: 2;
   }

   & .warning {
      position: absolute;
      top: 0;
      z-index: 3;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.705);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      font: 25px arial;


      & .btns {
         display: flex;
         gap: 10px;
         margin-bottom: 30px;


         & button {
            padding: 10px 30px;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 17px;
         }
      }

      & .delNotes {
         width: 100%;
         height: 50px;
         display: flex;
         align-items: center;
         justify-content: center;


         & .label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & .checkbox {
               width: 20px;
            }
         }
      }
   }

   & .btn {
      padding: 10px 20px;
      margin-top: 20px;
      border: none;
      background-color: white;
      border-radius: 10px;
      box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
      
      
      &:active {
         box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
         scale: 0.95;
      }
   }
}


