.container {
   width: 100%;
   background-color: rgba(255, 255, 255, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   
   
   & .title {
      font: 20px serif;
   }
   
   
   & .calendar {
      width: 180px;
      height: 60px;
      border-radius: 10px;
      display: flex;
      text-align: center;
      font: 25px tahoma;
      border: none;

      @media (width < 700px){
         width: 120px;
         height: 40px;
         font: 17px tahoma;
      }
   }
}